# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Build output
build/
dist/
*.spec

# Installer output
installer-output/
Output/

# Local runtime data
assets/history.json

# Downloaded/generated wallpapers
assets/wallpapers/original/*
!assets/wallpapers/original/.gitkeep

assets/wallpapers/watermarked/*
!assets/wallpapers/watermarked/.gitkeep

assets/wallpapers/*.jpg
assets/wallpapers/*.jpeg
assets/wallpapers/*.png
!assets/wallpapers/.gitkeep

# Editor/system files
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Local archives
*.zip
*.7z
